<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= locals.titel %></title>
    <meta name="description" content="<%= locals.description %>">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" defer src="/js/script.js"></script>
</head>
<body>
    <%- include('../partials/search.ejs') %>
    <div class="container">
        <%- include('../partials/header.ejs') %>
        <main class="main">
            <%- body %>
        </main>
        <%- include('../partials/footer.ejs') %>
    </div>

    <!-- Subscribe Modal -->
    <div id="subscribeModal" class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <h2>Subscribe to Our Newsletter</h2>
            <form action="/subscribe" method="POST">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" required>
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" required>
                <label for="email">Email</label>
                <input type="email" name="email" required>
                <button type="submit">Subscribe</button>
                 <p id="subscribeMessage" style="display: none;"></p>
            </form>
        </div>
    </div>
</body>
</html>
